* {
    margin: 0;
    padding: 0;
}

/* navbar */

.nav_container {
    display: flex;
    height: 90px;
    font-size: medium;
    font-weight: 500;
    justify-content: space-evenly;
    font-size: x-large;
    background: linear-gradient(to right, #00BCD4, #2E8B57);
}

.nav_container a,
.nav_menu a {
    text-decoration: none;
}

.nav_menu {
    display: flex;
    list-style: none;
    padding: 20px 40px;
    margin: 0px 100px;
}

.nav_menu li {
    margin: 12px 35px;
    font-size: large;
    font-weight: 550;
}

button {
    padding: 20px;
    background-color: #FF7043;
    border-radius: 8px;
    margin: 20px;
    border-color: none;
    font-size: 14px;
}

/* search bar */

.search_filter {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.filter_bar {
    width: 700px;
    height: 40px;
    border-radius: 25px;
    border-color: darkgrey;
    font-size: large;
    text-align: center;
}

.artisan_portfolio_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    border-color: darkgrey solid;
    margin: 12px;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.samples {
    margin-left: 20px;
}

/* footer styling */
.footer_container {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 25px;
    background-color: rgb(185, 181, 178);
}

.footer_container li {
    list-style: none;
    margin: 20px 30px;
}

.footer_container a {
    text-decoration: none;
}