* {
    margin: 0;
    padding: 0;
}

/* navigation bar */
.nav_container {
    display: flex;
    height: 90px;
    font-size: medium;
    font-weight: 500;
    justify-content: space-evenly;
    font-size: x-large;
    background: linear-gradient(to right, #00BCD4, #2E8B57);
}

.nav_container a,
.nav_menu a {
    text-decoration: none;
}

.nav_menu {
    display: flex;
    list-style: none;
    padding: 20px 40px;
    margin: 0px 100px;
}

.nav_menu li {
    margin: 12px 35px;
    font-size: large;
    font-weight: 550;
}

button {
    padding: 20px;
    background-color: #FF7043;
    border-radius: 8px;
    margin: 20px;
    border-color: none;
    font-size: 14px;

}

/* main */
.top-div {
    font-size: large;
    text-align: center;
    font-size: x-large;
    margin: 40px;
}

.filter_bar {
    display: flex;
    justify-content: center;
}

.filter_bar input {
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border-color: darkgrey;
    width: 700px;
    margin: 0px 0px 20px;
    box-sizing: border-box;
    justify-content: center;
}

.artisans_list h4 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.artisan_card_div {
    display: grid;
    grid-template-columns: 33.33% 33.3% 33.3%;
}

.artisan_card {
    border-color: darkgrey solid;
    margin: 12px;
    padding: 25px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.artisan_card li {
    list-style: none;
}

/* footer styling */
.footer_container {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 25px;
    background-color: rgb(185, 181, 178);
}

.footer_container li {
    list-style: none;
    margin: 20px 30px;
}

.footer_container a {
    text-decoration: none;
}